<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/style.css" />
    <title>Classic World!</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> Classic World </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >HOME <span class="sr-only">(current)</span></a
              >
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="#"
                >SEARCH <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >MY PAGE <span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
        </div>
      </nav>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 text-right"></h1>
        </div>
      </div>
    </header>

    <main>
      <div class="1st row">
        <div
          class="container-fluid col-md-10"
          style="background-color: rgba(155, 23, 23, 0.726)"
        >
          ...
        </div>
        <div
          class="container-fluid col-sm-2"
          style="background-color: rgb(207, 179, 19)"
        >
          ...
        </div>
      </div>

      <div class="2nd row">
        <div class="col-6">
          <div class="product">
            <h1>Titile : 1969' Mustang</h1>
            <img
              src="/img/69_1.jpg"
              class="img-product"
              alt="Responsive image"
            />
          </div>

          <img src="/img/69_2.jpg" alt="..." class="img-thumbnail" />
          <img src="/img/69_3.jpg" alt="..." class="img-thumbnail" />
          <img src="/img/69_4.jpg" alt="..." class="img-thumbnail" />

          <h3>Vechicle Information</h3>
          <ui calss="rate" id="rate"> </ui>
          <p>One of the best Mustang ever built in the history</p>
          <ul class="lists">
            <li>Price : $60,000</li>
            <li>Maker : Ford</li>
            <li>Year : 1969</li>
            <li>Model : Ford</li>
          </ul>
          <h2>Description</h2>
          <p>
            In 1969, Ford introduced the Boss version of the Mustang. Ford
            actually manufactured two cars under the Boss moniker – the 302 and
            429 editions. For our money, the Boss 429 is the superior car. As
            the name suggests, the engine shoehorned into this 1969 Mustang was
            a 429-cubic inch big block V8 capable of producing 375 horsepower
            and torque to spare. The Boss 302, which came out at the same time,
            was equipped with a smaller engine and the exterior removed any
            unneeded body cladding and added a front lip spoiler. While some
            people initially preferred the Boss 302, history has pushed the 429
            to the top of the heap. Today, the Mustang Boss 429 is prized by
            automotive collectors and historians. Many people consider this car
            to be the ultimate Mustang, praising its style, power, and
            performance, but there’s one other model that arguably outpaces it
          </p>
        </div>
        <div class="col-3">
          <div><p></p></div>
          <h1>Order</h1>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">
                Phone No.</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
            />
          </div>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">
                Email</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
            />
          </div>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">
                Address</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
            />
          </div>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">
                Option</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
            />
          </div>
          <div class="button">
            <button
              onclick="order()"
              type="button"
              class="btn btn-warning btn-sm"
            >
              Order
            </button>
            <div style="color: white"><h1>A</h1></div>
            <div style="color: white"><h1>A</h1></div>
            <div style="color: white"><h1>A</h1></div>

            <img
              src="/img/ad2.jpg"
              class="img-product"
              alt="Responsive image"
            />
            <div style="color: white"><h1>A</h1></div>
            <div style="color: white"><h1>A</h1></div>
            <h1>Seller Information</h1>

            <img
              src="/img/seller.png"
              class="img-product"
              alt="Responsive image"
            />
            <p>Name : Skyler Minsu Bang</p>
            <p>Studnet Number : N10664581</p>
            <p>Email: Minsu.Bang@connect.qut.edu.au</p>
            <button type="button" class="btn btn-warning btn-sm">
              Send Email
            </button>
          </div>
        </div>
      </div>

      <!--  2rd row  -->
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
        </div>

        <div class="3rd row">
          <div
            class="container-fluid col-md-10"
            style="background-color: rgba(155, 23, 23, 0.726)"
          >
            ...
          </div>
          <div
            class="container-fluid col-sm-2"
            style="background-color: rgb(207, 179, 19)"
          >
            ...
          </div>
        </div>
        <!--  3rd row  -->
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <h1>About Us</h1>
            <p>
              Classic world is an exclusive classic car specialist in Brisbane.
              Originating from a distinct passion for old-timers, we have
              immersed ourselves in the unique world of classic cars since 1990,
              provide wide range of selection from American muscle, Eroupian
              luxury and also JDMs.
            </p>
          </div>

          <div class="col-md-6 col-lg-6">
            <h1 style="color: black">News Letter</h1>
            <p>
              Sing up for the newsletter
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <button type="submit" class="btn btn-dark">Submit</button>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer of the website -->
    <footer>
      <div class="footer">
        <p>
          Copyright &copy; 2020 by Skyler_Minsu_Bang From IFN 557 Student Number
          n10664581
        </p>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
